body{
    background-image: url("6f2d34fe6c8746c56c14fbc55308ef99.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
/* #wrapper{
    max-width: 960px;
   
    
} */
#header{
    text-align: center;
    padding: 5px;
    color: blue;
    font-size: 20px;
    font-family: "press start 2p";
    
}
#main-content{
    display: flex;
    color: black;
}
#content{
    flex-basis: 70%;
    font-size: larger;
    text-align: center;
}
#sidebar{
    flex-basis: 30%;
    background-color: rgb(255, 255, 255,.1); 
    border-radius: 10px;

    padding: 10px;
}
#footer{
 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
#homepage{
    font-family: 'utm neutra';
    color: whitesmoke;
    font-size: x-small;
    /* border-width: 5px; */
    border-style: dotted;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
} 
#aboutme{
    font-family:fantasy ;
}
